@model IEnumerable<PizzaMaker.Models.PizzaCount>

@{
    ViewData["Title"] = "Index";
}

@if ((int)ViewData["CountList"] == 0)
{
    <h3>Cart is empty!</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h3>Cart</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img alt="" src="data:image/png;base64, @Convert.ToBase64String(item.pizza.Image)" style="height:50px;width:50px;" />
                    </td>
                    <td>
                        <h5>@Html.DisplayFor(modelItem => item.pizza.Name)</h5>
                    </td>
                    <td>
                        x @Html.DisplayFor(modelItem => item.count)  <br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pizza.Price) ₴
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
