@model PizzaMaker.Models.Pizza

@{
    ViewData["Title"] = "Pizza";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <dl class="row">
        <img alt="" src="data:image/png;base64, @Convert.ToBase64String(Model.Image)" style="padding-right: 1em;" />
        <p class="lead">@Html.DisplayFor(model => model.Description)</p>
        <h4>@Html.DisplayFor(model => model.Price) ₴</h4>
        <button>Add to cart</button>
    </dl>
</div>
