@inherits LayoutComponentBase

<FluentMainLayout>
    <Header><h3>Pizza maker</h3></Header>
    <Body>
    @Body
    </Body>
</FluentMainLayout>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />